
@font-face {
  font-family: 'Vevey';
  src: url('/font/Vevey-HumanKind.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Times Small';
  src:
    url('/font/TimesSmallTextMTStd.woff2') format('woff2'),
    url('/font/TimesSmallTextMTStd.woff') format('woff'),
    url('/font/TimesSmallTextMTStd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times Small';
  src: url('/font/TimesSmallTextMTStd-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}


:root {
  --green: #00A75F;

  /*--fs: clamp(22px, calc(22px + (5 * ((100vw - 1400px) / 700))), 27px);*/
  --fs: clamp(15px, calc(15px + 7 * ((100vw - 1400px) / 800)), 23px);
  /*--fs: calc(9px);*/
  --lh: 1.2em;

  --bg: white;
  --padding: 20px;
  --sectionM: var(5em);
}

@media all and (max-width: 500px){
  :root {
    --fs: 14px;
    --padding: 12px;
  }
}




html, body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: var(--fs);
 
  line-height: var(--lh);
  /*letter-spacing: 0.02em;
  scroll-snap-type: y proximity;*/
  scroll-behavior: smooth;
  background-color: white;
  color: var(--green);
}

.serif {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

.transitionContainer {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.transitionContainer.page-transition {
  opacity: 0;
}


 /*width */
html::-webkit-scrollbar, body::-webkit-scrollbar  {
  display: none !important;
}

/* For Firefox*/
body,
html {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

strong {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  background: white;
  color: #867bc4;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: white;
    color: var(--green);
  }
}
