.Interim {
  padding: calc(var(--padding) * 0.6) var(--padding);
  position: relative;
  padding-bottom: 20vh;
}

.ticketLink {
    position: absolute;
    top: calc(var(--padding) * 0.6) ;
    right: var(--padding);
    display: inline-block;
}

.content {
    font-size: var(--fs-m);
    line-height: var(--lh);
    text-align: center;
    margin-top: 20vh;
}

.desktopSVG {
  height: 95vh;
  aspect-ratio: 1.46;
  width: auto;
  left: calc(50% - var(--padding));
  top: calc(var(--padding) * -2);
  transform: translateX(-50%);
  position: relative;
}

.shapes path, .text path, .text ellipse {
  fill: var(--green);
}

.text {
    z-index: 1;
}

.mask path {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 39px;
  stroke-linecap: butt;
  stroke-dasharray: 1;     /* requires pathLength="1" on each path */
  stroke-dashoffset: 0;   /* start at the end */
  animation: draw-reverse 8.4s ease-in infinite;
}

@keyframes draw-reverse {
  0% { stroke-dashoffset: 0; } 
  25% { stroke-dashoffset: 1; } 
  75% { stroke-dashoffset: 1; } 
  100% { stroke-dashoffset: 0; } 
}


@media all and (max-width: 600px) {
    
}